@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Ubuntu:wght@300&display=swap');

.home-page{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    height:100vh;
    background-image: url('../assets/background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.home-title {
    width: 50%;
    font-weight: bold;
    color: yellow;
    position: absolute;
    top: 50%;
    right: 5%;
    text-align: center;
}